html {max-width:1143px;}
.DATE {
      font-size: 85%;
      /*text-transform: uppercase;*/
      letter-spacing: 1px;
      color: #333;
      font-size: 10px;
      font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
      font-weight: 100;
      margin:0; 
}
a:link {
	color: black;
}

.HEADLINE{
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    text-transform: uppercase;
    color: #333;
    line-height: 90%;
    margin: 0.05em 0 0.05em 0;
    letter-spacing: -1px;
}
.main {
    position:relative;
    min-width:700px;
    max-width:916px;
}
.TAG{
    color:  #333;
    font-size: 10px;
    margin: 0px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
}
.visualization {
    float:left;
    width: 500px;
}
.unsuitable {
    float: right;
}
.suitable {
    float:left;
}
.modis .class {
    display:none;
}
.modis_label {
    display:none;
}

.key {
    float: right;
    width: 300px;
}
.sci {
    display: inline;
    font-size:9pt;
    font-style: italic;
}
.eng {
    font-size:9pt;
    display: inline;
}
.topright {
    position:absolute;
    top:5px;
    right:9px;
}
.working {
    width:25px;
    height:25px;
    float:right;
}
.modeContainer {
    display:none;
}
.msg {
    float:right;
    max-width:480px;
    overflow:ellipsis;
    vertical-align: center;
}
.thumb {
    float:left;
    width: 50px;
    height: 50px;
}
.image {
    text-align:center;
    border-radius:4pt;
    overflow:hidden;
}
.info {
    font-size:10pt;
    display:none;
    margin: 2pt;
    border: 0.5pt solid gray;
    border-spacing:0px;
    max-width:450px;
}
.info td{
    vertical-align: top;
}
.habitats {
   
}
.search {
    left:60px;
    top:15px;
}
.common:first-line {
    font-size: 22pt;
    line-height:15pt;
}
.common {
    font-size: 16pt;
}
.visualization {
    text-align:center;
    position: relative;
}
.sciname{
    font-size:14pt;
    font-style: italic;
    
}
.searchContainer {
    float:right;
    height: 50px;
}
.tax {
    padding: 1em 0 1em 0;
}
.elev_range {
    padding: 0.5em 0 0.5em 0;
}
.name {
    padding: 1em 0 0.2em 0;
}
.legend {
	display: inline-block;
	margin-right: 5pt;
	width:10px; 
	height:10px;
	border:0.5pt solid black;
}
.modis.class_0 .legend {background-color:#aec3d4}
.modis.class_1 .legend {background-color:#152106}
.modis.class_2 .legend {background-color:#225129}
.modis.class_3 .legend {background-color:#369b47}
.modis.class_4 .legend {background-color:#30eb5b}
.modis.class_5 .legend {background-color:#387242}
.modis.class_6 .legend {background-color:#6a2325}
.modis.class_7 .legend {background-color:#c3aa69}
.modis.class_8 .legend {background-color:#b76031}
.modis.class_9 .legend {background-color:#d9903d}
.modis.class_10 .legend {background-color:#91af40}
.modis.class_11 .legend {background-color:#111149}
.modis.class_12 .legend {background-color:#cdb33b}
.modis.class_13 .legend {background-color:#cc0013}
.modis.class_14 .legend {background-color:#33280d}
.modis.class_15 .legend {background-color:#d7cdcc}
.modis.class_16 .legend {background-color:#f7e084}
.modis.class_17 .legend {background-color:#6f6f6f}
