<!DOCTYPE html> 
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Map of Life</title> 
        <link href="/css/homepage.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26993916-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="header">
            <div id="title">Map of Life</div>
            <div id="subtitle">integrating species distribution knowledge</div>
            <div id="menu">
                <div class="item"><a href="/about/" >Home</a></div>
                <div class="item" id="techLink"><a href="/about/tech">Tech</a></div>
                <div class="item"><a class="current" href="/demo">Demo</a></div>
                <div class="item"><a href="/about/people">People</a></div>
            </div>
        </div>
            <div id="container">
                <div id="top">
                    <div class="demoText"> 

The following are screen shots of a soon to be released early
demonstration of Map of Life that provides initial and very simple,
core functionality. In this first demo release, Map of Life will
provide the means to search on a common or scientific name and get a
list of resulting geographic distribution products based on full
available taxonomy.  We currently provide access to expert opinion
range maps, point presence data made available by the <a href="http://www.gbif.org/">Global
Biodiversity Information Facility</a>, and species presences in protected
areas and ecoregions.  Using simple map tools, you may explore these
maps using familiar tools, and see how these different sources of data
agree or disagree.  You may also learn a bit more about what species
are found at a point on the globe using a species list tool.

                    </div>
                </div>
                <div id="content">
                    <div class="wrapper">
                        <div class="demoCol">
                            <div class="image">
                                <a href="/about/static/demo/ochotona-princeps.png"><img src="/static/demo/ochotona-princeps-thumb.png" ></a>
                            </div>
                            <div class="caption">
                                American Pikas (<em>Ochotona princeps</em>) in the Rocky Mountains of America.
                            </div>
                        </div>
                        <div class="demoCol">
                            <div class="image">
                                <a href="/about/static/demo/global.png"><img src="/static/demo/global-thumb.png" ></a>
                            </div>
                            <div class="caption">
                                Global distribution patterns of the European Nightjar,
                                <em>Caprimulgus europaeus</em>.

                            </div>
                        </div>

                        <div class="demoCol">
                            <div class="image">
                                <a href="/about/static/demo/species-lists.png"><img src="/static/demo/species-lists-thumb.png"></a>
                            </div>
                            <div class="caption">
                                A list of bird species found around a point in northwestern Kenya.
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div id="content">
                </div>
            </div>

<div id="footer"> 
    <div id="footer_links"> 
        <a href="/about/">Home</a>
        <a href="http://mappinglife.wordpress.com/">Blog</a>
        <a href="http://www.yale.edu/jetz/">Jetz Lab</a>
        <a href="http://sites.google.com/site/robgur/">Guralnick Lab</a>
        <a href="http://github.com/MapOfLife/MOL">GitHub</a>
    </div> 
</div> 
<div id="footer_imgs">
        <a href="http://www.nsf.gov/"><img title="National Science Foundation" src="/static/home/nsf.png"></a>
        <a href="http://www.nasa.gov/"><img title="National Aeronautics and Space Administration" src="/static/home/nasa.png"></a>
        <a href="http://www.nceas.ucsb.edu/"><img title="National Center for Ecological Analysis and Synthesis" src="/static/home/nceas.png"></a>
        <a href="http://www.iplantcollaborative.org/"><img title="iPlant Collaborative" src="/static/home/iplant.png"></a>
        <a href="http://www.mountainbiodiversity.org/"><img title="Global Mountain Biodiversity Assessment" src="/static/home/gmba.png"></a>
        <a href="http://www.senckenberg.de"><img title="Senckenberg" src="/static/home/senckenberg.png"></a>
        <a href="http://www.bik-f.de/"><img title="Biodiversität und Klima Forschungszentrum (BiK-F)" src="/static/home/bik_bildzeichen.png"></a>
        <a href="http://www.eol.org/"><img title="Encyclopedia of Life" src="/static/home/eol.png"></a>

        <a href="http://www.gbif.org/"><img title="Global Biodiversity Information Facility" src="/static/home/gbif.png"></a>
</div>



    </body>
</html>      
