<!DOCTYPE html> 
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Map of Life</title> 
        <link href="/css/homepage.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26993916-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="header">
            <div id="title">Map of Life</div>
            <div id="subtitle">integrating species distribution knowledge</div>
            <div id="menu">
                <div class="item"><a href="/about/" >Home</a></div>
                <div class="item" id="techLink"><a href="/about/tech">Tech</a></div>
                <div class="item"><a href="/about/demo">Demo</a></div>
                <div class="item"><a href="/about/people">People</a></div>
            </div>
        </div>

        <div id="submenu">
            <div class="link"><a href="#eol">EOL</a></div>
            <div class="link"><a href="#gbif">GBIF</a></div>
            <div class="link"><a href="#iucn">IUCN</a></div>
            <div class="link"><a href="#unep-wcmc">UNEP-WCMC</a></div>
            <div class="link"><a href="#senck-bikf">Senckenberg/BIK-F</a></div>
            <div class="link"><a href="#gmba">GMBA</a></div>
        </div>

            <div id="container">
                <div id="content">
                    <div class="wrapper">
                        <div id="eol" class="partner person">

                            <div class="name"><a href="http://www.eol.org/">Encyclopedia of Life</a></div>
                            <div class="role"></div>

                            <img src="/static/partners/eol.png">
                            <div class="description">
                            </div>

                        </div>
                        <div id="gbif" class="partner person">
                            <div class="name"><a href="http://www.gbif.org">Global Biodiversity Information Facility</a></div>
                            <div class="role"></div>
                            <img src="/static/partners/gbif.png">
                            <div class="description">
                            </div>

                        </div>
                        <div id="unep-wcmc" class="person partner">
                            <div class="name"><a href="http://www.unep-wcmc.org/">UNEP-WCMC</a></div>
                            <div class="role"></div>
                            <img src="/static/partners/unep-wcmc.png">
                            <div class="description">
                            </div>
                        </div>
                        <div id="senck-bikf" class="person partner">
                            <div class="name">Senckenberg Museum and BIK-F</div>
                            <div class="role"></div>
                            <img src="/static/partners/senckenberg-bikf.png">
                            <div class="description">
                            </div>
                        </div>

                        <div id="gmba" class="person partner">
                            <div class="name"><a href=http://www.diversitas-international.org/activities/research/global-mountain>GMBA</a></div>
                            <div class="role"></div>

                            <img src="/static/partners/gmba.png">
                            <div class="description">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

<div id="footer"> 
    <div id="footer_links"> 
        <a href="/about/">Home</a>
        <a href="http://mappinglife.wordpress.com/">Blog</a>
        <a href="http://www.yale.edu/jetz/">Jetz Lab</a>
        <a href="http://sites.google.com/site/robgur/">Guralnick Lab</a>
        <a href="http://github.com/MapOfLife/MOL">GitHub</a>
    </div> 
</div> 
<div id="footer_imgs">
        <a href="http://www.nsf.gov/"><img title="National Science Foundation" src="/static/home/nsf.png"></a>
        <a href="http://www.nasa.gov/"><img title="National Aeronautics and Space Administration" src="/static/home/nasa.png"></a>
        <a href="http://www.nceas.ucsb.edu/"><img title="National Center for Ecological Analysis and Synthesis" src="/static/home/nceas.png"></a>
        <a href="http://www.iplantcollaborative.org/"><img title="iPlant Collaborative" src="/static/home/iplant.png"></a>
        <a href="http://www.mountainbiodiversity.org/"><img title="Global Mountain Biodiversity Assessment" src="/static/home/gmba.png"></a>
        <a href="http://www.senckenberg.de"><img title="Senckenberg" src="/static/home/senckenberg.png"></a>
        <a href="http://www.bik-f.de/"><img title="Biodiversität und Klima Forschungszentrum (BiK-F)" src="/static/home/bik_bildzeichen.png"></a>
        <a href="http://www.eol.org/"><img title="Encyclopedia of Life" src="/static/home/eol.png"></a>

        <a href="http://www.gbif.org/"><img title="Global Biodiversity Information Facility" src="/static/home/gbif.png"></a>
        <a href="http://www.iucn.org/"><img title="International Union for Conservation of Nature" src="/static/home/iucn.png"></a>
</div>

    </body>
</html>      
