<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Map of Life</title>
        <link href="/css/homepage.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26993916-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="header">
            <div id="title">Map of Life</div>
            <div id="subtitle">integrating species distribution knowledge</div>
            <div id="menu">
                <div class="item"><a href="/about/" >Home</a></div>
                <div class="item" id="techLink"><a href="/about/tech">Tech</a></div>
                <div class="item"><a href="/about/demo">Demo</a></div>
                <div class="item"><a class="current" href="/people">People</a></div>
            </div>
        </div>
            <div id="container">
                <div id="content">
                    <div class="wrapper">
                        <div class="person top">
                            <img class="right" src="/static/people/walter.jpg">
                            <div class="name"><a href="http://www.yale.edu/jetz/">Walter Jetz</a></div>
                            <div class="description">
                                Walter is broadly interested in global biodiversity science. His
                                research is interdisciplinary and combines elements of biogeography,
                                community ecology, landscape ecology, macroecology, global change
                                ecology, evolutionary and comparative biology, biodiversity informatics
                                and conservation. Study systems include terrestrial vertebrates, in
                                particular birds, and plants. Work in his research group attempts to
                                integrate across scales of geographical, phylogenetic and ecological
                                organization.
                            </div>
                        </div>
                        <div class="person top">
                            <img src="/static/people/rob.jpg">
                            <div class="name"><a href="https://sites.google.com/site/robgur/">Robert Guralnick</a></div>
                            <div class="description">
                                Rob is a biodiversity scientist who studies spatiotemporal
                                changes in genetic and species diversity. I take an integrative
                                approach to global change biology and students in my lab range from
                                occupancy and to spatial ecological modelers, to landscape geneticists,
                                to systematists. The diversity in lab is also its strength -- we
                                continue to discover that the interesting questions are the integrative
                                ones that require multiple lines of evidence.  Rob hobbies are working
                                and biking.
                            </div>
                        </div>
                        <div class="person">
                        <img class="left" src="/static/people/aaron.jpg">
                            <div class="name"><a href="http://aaron.io">Aaron Steele</a></div>
                            <div class="description">
                                Aaron got a CS degree from Berkeley and currently works there as an
                                information architect. When not running or running after Noah, he
                                helps design and write code for MOL web apps, servers, and APIs. Aaron
                                enjoys reading self-introductions written in the third person.
                            </div>
                        </div>
                        <div class="person">
                        <img class="right" src="/static/people/gaurav.jpg">
                            <div class="name"><a href="http://www.ggvaidya.com/">Gaurav Vaidya</a></div>
                            <div class="description">
                                <p>Gaurav is a biodiversity informatician
                                working to make sure that biodiversity
                                data can make it into Map of Life smoothly
                                and speedily.
                                </p>

                                <p>He has been a graduate student at
                                the Guralnick lab since 2011, and loves
                                both cats and Wikipedia.
                                </p>
                            </div>
                        </div>
                        <div class="person">
                        <img class="left" src="/static/people/cody.jpg">
                            <div class="name">Cody Schank</div>
                            <div class="description">
                                Cody has worked on GIS and spatial analysis related projects for more than a decade. His
                                work with the MOL and the Jetz lab builds upon his experience working on global species
                                distribution mapping for the Global Mammal Assessment. Cody has a passion for the combination
                                of modeling, remote sensing and field work for the conservation of wildlife in tropical areas.
                                Outside of work, Cody enjoys crossword puzzles, squash, and tracing the intrigues of Downton Abbey.
                            </div>
                        </div>
                        <div class="person">
                        <img class="right" src="/static/people/jeremy.jpg">
                            <div class="name">Jeremy Malczyk</div>
                            <div class="description">
                                Jeremy joined the Jetz Lab and the MOL team in January of 2012 with a background in geospatial
                                web application development. Most of his work here has been focused on user-interface development
                                and database management. He can also be found dragging his growing family up and down the
                                mountains of New England and beyond.
                            </div>
                        </div>
                        <div class="person">
                        <img class="left" src="/static/people/carsten.jpg">
                            <div class="name">Carsten Meyer</div>
                            <div class="description">
                                Carsten is a Ph.D student working on gaps in global biodiversity knowledge and their implications
                                for research and conservation. Out of necessity he has recently developed a passion for automated
                                ways to access different biodiversity data sources and reconciling their taxonomies. Usually he
                                would be passionate about trekking and photography.
                            </div>
                        </div>

                        <div class="person">
                        <img class="right" src="/static/people/peter.jpg">
                            <div class="name">Peter Erb</div>
                            <div class="description">
                                Peter is a wildlife ecologist in the Guralnick lab working on data acquisition and its integration 
                                into Map of Life.  His work in the Guralnick lab also includes modeling the occupancy of mammals in 
                                the Appalachian Mountain region.  His interests lie primarily in answering conservation questions 
                                through the use of GIS and citizen science.  Outside of the lab, Peter works on developing novel 
                                approaches to conservation outreach and plays in the mountains with his dog and wife.
                            </div>
                        </div>

                        <div class="person">
                        <img class="left" src="/static/people/tom.jpg">
                            <div class="name">Tom Auer</div>
                            <div class="description">
                                Tom blends a Master's degree in Geography from Penn State, an interest in avian distributions, and 
                                working experience with ecological informatics to help the MOL team develop visualization and user 
                                experience aspects of the project. In his spare time, he can be found obsessively eBirding or 
                                honing his skills at crafting the perfect cup of coffee or tea.
                            </div>
                        </div>

                        <div class="person top" style="min-height: 2em">
                            <center><h2>Previous contributors</h2></center>
                        </div>

                        <div class="person">
                            <img class="left" src="/static/people/andrew.jpg">
                            <div class="name"><a href="http://biodiversity.colorado.edu">Andrew Hill</a></div>
                            <div class="description">
                                Andrew is working on his Ph.D. in the Guralnick lab where he has been
                                since the mid-2000's. Most of his work revolves around an enthusiasm
                                for developing automated informatics frameworks to help understand the
                                world's biodiversity. He has an affinity for caffiene and mostly avoids
                                sunlight.
                            </div>
                        </div>

                        <div class="person">
                            <img class="right" src="/static/people/dan.jpg">
                            <div class="name"><a href="http://pantheon.yale.edu/~dr426/">Dan Rosauer</a></div>
                            <div class="description">
                                Dan is a postdoc in the Jetz lab at Yale. His research integrates broad
                                scale spatial and phylogenetic data and uses novel techniques to tackle
                                questions about the evolution, distribution and conservation of biological
                                diversity. Dan is passionate about road cycling,
                                fried haloumi and the use of phylogenetic information in conservation planning.
                            </div>
                        </div>

                        <div class="person">
                            <img class="left" src="/static/people/aimee.jpg">
                            <div class="name">Aimee Stewart</div>
                            <div class="description">
                                Aimee has worked
                                in the GIS and Remote Sensing fields for the last 12 years, focusing on
                                software development and mapping applications the University of Kansas since 2001. After
                                her initial seduction by proprietary software, she came to her senses and
                                now uses open source tools whenever possible.
                            </div>
                        </div>

                        <div class="person">
                        <img class="right" src="/static/people/john.jpg">
                            <div class="name">John Wieczorek</div>
                            <div class="description">
                                John supports his habits (beach volleyball and living in the
                                wilderness) by balancing biodiversity informatics at UC Berkeley with
                                indentured servitude to the Lacey lab for field work in Argentina.
                                Informatics interests include biodiversity data mobilization, data
                                quality improvement, and georeferencing. <p></p>
                            </div>
                        </div>
 

			<div class="person top">
                            <div class="name">Map of Life Steering Committee</div>
                            <div class="description full">
				    <p>The Map of Life Steering Committee provides technical, managerial and scientific
				    advice to Map of Life and key outreach to allied communities in biodiversity, informatics,
				    and conservation.  The committee is currently composed of:</p>
				    <p>Katrin Boehning-Gaese (Senckenberg, Frankfurt, Germany),
				    Simon Ferrier (GEO BON and CSIRO, Canberra Australia,
				    Donald Hobern (GBIF, Copenhagen, Denmark),
				    Jon Hoekstra (WWF. Seattle, Washington USA),
				    Steve Kelling (eBird, Ithaca, New York USA),
				    Georgina Mace (DIVERSITAS, Imperial College London, UK ),
				    and Henrique Pereira (GEO BON, Universidade de Lisboa, Portugal)</p>
                            </div>
                        </div>

                        <div class="person top">
                            <div class="name">EOL-BioSync Working Group</div>
                            <div class="description full">
                                <p>Map of Life was fortunate to have many talented individuals
                                contribute to the early ideas, scope, and direction of the project.
                                Here, we list some of these contributors: </p>
				<p>Jim Beach,
                                Javier de la Torre,
                                Ron Eastman,
                                Simon Ferrier,
                                Philip Goldstein,
                                Brian McGill,
                                Jana McPherson,
                                Cyndy Parr,
                                David Patterson,
                                Steven Phillips,
                                Thiago Rangel,
                                Tim Robertson,
                                Florencia Sangermano,
                                Woody Turner,
                                Dave Vieglais,
				Mark Westneat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div id="footer">
    <div id="footer_links">
        <a href="/about/">Home</a>
        <a href="http://mappinglife.wordpress.com/">Blog</a>
        <a href="http://www.yale.edu/jetz/">Jetz Lab</a>
        <a href="http://sites.google.com/site/robgur/">Guralnick Lab</a>
        <a href="http://github.com/MapOfLife/MOL">GitHub</a>
    </div>
</div>
<div id="footer_imgs">
        <a href="http://www.nsf.gov/"><img title="National Science Foundation" src="/static/home/nsf.png"></a>
        <a href="http://www.nasa.gov/"><img title="National Aeronautics and Space Administration" src="/static/home/nasa.png"></a>
        <a href="http://www.nceas.ucsb.edu/"><img title="National Center for Ecological Analysis and Synthesis" src="/static/home/nceas.png"></a>
        <a href="http://www.iplantcollaborative.org/"><img title="iPlant Collaborative" src="/static/home/iplant.png"></a>
        <a href="http://www.mountainbiodiversity.org/"><img title="Global Mountain Biodiversity Assessment" src="/static/home/gmba.png"></a>
        <a href="http://www.senckenberg.de"><img title="Senckenberg" src="/static/home/senckenberg.png"></a>
        <a href="http://www.bik-f.de/"><img title="Biodiversität und Klima Forschungszentrum (BiK-F)" src="/static/home/bik_bildzeichen.png"></a>
        <a href="http://www.eol.org/"><img title="Encyclopedia of Life" src="/static/home/eol.png"></a>

        <a href="http://www.gbif.org/"><img title="Global Biodiversity Information Facility" src="/static/home/gbif.png"></a>
</div>

    </body>
</html>
