<!DOCTYPE html>

<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="../../../js/lib/jquery/css/ui-lightness/jquery-ui-1.8.18.custom.css">
    <link rel="stylesheet" href="../../../css/mol.css">
    <link rel="stylesheet" href="../../../css/cartodb.css">
    <link rel="stylesheet" href="../../../css/jquery.qtip.min.css">
    <link rel="stylesheet" href="../../../css/widgets.css">
    <link rel="stylesheet" href="../../../css/tablesorter.css">
    <link rel="stylesheet" href="../../../css/theme.blue.css">
    <link rel="stylesheet" href="../../../css/spectrum.css">
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <script type="text/javascript" src="http://mapbox.com/wax/dist/wax.g.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.jsPlumb-1.3.16-all-min.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.numeric.js"></script>
    <!--<script type="text/javascript" src="../../../js/lib/jquery/js/jquery-ui-1.8.18.custom.min.js"></script>-->
    <script type="text/javascript" src="../../../js/lib/jquery.imagesloaded.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.tablesorter.widgets.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="../../../js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="../../../js/lib/class.js"></script>
    <script type="text/javascript" src="../../../js/lib/ppgallery.js"></script>
    <script type="text/javascript" src="../../../js/lib/spectrum.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../js/lib/jquery.xdomainrequest.js"></script>

    {% if prod %}
    <script type="text/javascript" src="../../../static/js/mol.js?r={{ r }}"></script>
    {% else %}
     <script type="text/javascript" src="../../../js/mol.js"></script>
     <script type="text/javascript" src="../../../js/mol.core.js"></script>
     <script type="text/javascript" src="../../../js/mol.bus.js"></script>
     <script type="text/javascript" src="../../../js/mol.services.js"></script>
     <script type="text/javascript" src="../../../js/mol.services.cartodb.js"></script>
     <script type="text/javascript" src="../../../js/mol.mvp.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.search.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.results.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.layers.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.tiles.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.menu.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.loading.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.dashboard.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.feature.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.query.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.basemap.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.refine.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.metadata.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.splash.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.styler.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.help.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.status.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.images.js"></script>
     <script type="text/javascript" src="../../../js/mol.map.boot.js"></script>
    {% endif %}

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Map of Life</title>
    <meta name="description" content="A knowledge-base and platform for species distribution map development." />
    <meta name="keywords" content="map of life, biodiversity informatics, expert range maps, point occurrence, species occurrence, regional checklists, local inventories" />

    <meta property="og:title" content="Map of Life" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.mappinglife.org/" />
    <meta property="og:image" content="http://www.mappinglife.org/static/demo/ochotona-princeps-thumb.png"/>
    <meta property="fb:admins" content="gaurav.vaidya"/>
    <meta property="og:description" content="By bringing together all types of information about species distributions, providing model-based integration, and providing a system for users to build upon our knowledge, the Map of Life project hopes to support our community in understanding and saving the world's biodiversity." />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26993916-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    </script>
  </head>
  <body>
    <div id="map_container" class="map_container"></div>
    <script type="text/javascript">
      $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase());
      $(document).ready(function() {
          {% if prod %}
          <!-- Production, so load app without logging and run it. -->
          mol(function(env) {
            bus = env.bus.Bus()
             proxy = new env.services.Proxy(bus)
             me = new env.map.MapEngine(proxy, bus)
             me.start('body');
             spe = new env.map.splash.SplashEngine(proxy, bus, me.display.map)
             spe.start()
             if(!spe.IE8) {
               se = new env.map.search.SearchEngine(proxy, bus)
               se.start(null)
               te = new env.map.tiles.TileEngine(proxy, bus, me.display.map)
               te.start()
               le = new env.map.layers.LayerEngine(proxy, bus, me.display.map)
               le.start()
               re = new env.map.results.ResultsEngine(proxy, bus, me.display.map)
               re.start()
               ne = new env.map.menu.MenuEngine(proxy, bus)
               ne.start()
               le = new env.map.loading.LoadingEngine(proxy, bus)
                le.start()
                de = new env.map.dashboard.DashboardEngine(proxy, bus)
                de.start()
                fe = new env.map.feature.FeatureEngine(proxy, bus, me.display.map)
                fe.start()
                qe = new env.map.query.QueryEngine(proxy, bus, me.display.map)
                qe.start()
                bme = new env.map.basemap.BaseMapEngine(proxy, bus, me.display.map)
                bme.start()
                mde = new env.map.metadata.MetadataEngine(proxy, bus)
                mde.start()
                hd = new env.map.help.HelpDialog(proxy, bus)
                hd.start()
                st = new env.map.status.StatusEngine(proxy, bus)
                st.start()
                sty = new env.map.styler.StylerEngine(proxy, bus)
                sty.start()
                re = new env.map.refine.RefineEngine(proxy, bus)
                re.start()
                ie = new env.map.images.ImagesEngine(proxy, bus)
                ie.start()
             }
             be = new env.map.boot.BootEngine(proxy, bus, me.display.map)
             be.start()
          });
          {% else %}
          env = mol(function(env) {
            bus = env.bus.Bus()
             proxy = new env.services.Proxy(bus)
             me = new env.map.MapEngine(proxy, bus)
             me.start('body');
             spe = new env.map.splash.SplashEngine(proxy, bus, me.display.map)
             spe.start()
             if(!spe.IE8) {
               se = new env.map.search.SearchEngine(proxy, bus)
               se.start(null)
               te = new env.map.tiles.TileEngine(proxy, bus, me.display.map)
               te.start()
               le = new env.map.layers.LayerEngine(proxy, bus, me.display.map)
               le.start()
               re = new env.map.results.ResultsEngine(proxy, bus, me.display.map)
               re.start()
               ne = new env.map.menu.MenuEngine(proxy, bus)
               ne.start()
               le = new env.map.loading.LoadingEngine(proxy, bus)
                le.start()
                de = new env.map.dashboard.DashboardEngine(proxy, bus);
                 de.start()
                 fe = new env.map.feature.FeatureEngine(proxy, bus, me.display.map)
                fe.start()
                qe = new env.map.query.QueryEngine(proxy, bus, me.display.map);
                qe.start()
                bme = new env.map.basemap.BaseMapEngine(proxy, bus, me.display.map)
                bme.start()
                mde = new env.map.metadata.MetadataEngine(proxy, bus)
                mde.start()
                hd = new env.map.help.HelpDialog(proxy, bus)
                hd.start()
                st = new env.map.status.StatusEngine(proxy, bus)
                st.start()
                sty = new env.map.styler.StylerEngine(proxy, bus)
                sty.start()
                re = new env.map.refine.RefineEngine(proxy, bus)
                re.start()
                ie = new env.map.images.ImagesEngine(proxy, bus)
                ie.start()
             }
             be = new env.map.boot.BootEngine(proxy, bus, me.display.map)
             be.start()
          });
          {% endif %}
      });

    </script>
  </body>
</html>
